<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hearst Code Test</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- angular -->
    <script src="components/angular/angular.min.js"></script>

    <!-- my javascript -->
    <script src="myJavascript.js"></script>
</head>
<body>
<h1>Hearst Code Test</h1>

<div ng-app="myHearstApp" ng-controller="myCtrl">

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Makes<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="fake-anchor" ng-click="dropDownAction('Acura')">Acura</a></li>
            <li><a class="fake-anchor" ng-click="dropDownAction('Ford')">Ford</a></li>
            <li class="disabled"><a>Subaru</a></li>
        </ul>
    </div>

    <div class="dropdown" ng-show="secondDropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Models<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-repeat="carModel in currentModels"><a ng-click="loadContent(carModel)" class="fake-anchor">{{carModel}}</a></li>
        </ul>
    </div>

    <div class="jumbotron" ng-show="contentArea">
        <img src="images/{{imageFile}}">
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
